body {
  background-color: #f3f4f7;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #512da8;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  background-color: #5c6bc0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

.welcome {
  padding: 20px;
  text-align: center;
}

.welcome h2 {
  font-size: 2rem;
  color: #000;
}

.welcome p {
  color: #000;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.dashboard .card {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

.dashboard .card h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #000;
}

.dashboard .card p {
  font-size: 1rem;
  color: #555;
}

.footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #512da8;
  color: #fff;
  text-align: center;
}
